{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.path contains 'thanks' %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var d = new Date();
    var n = d.getDay();
    var now = d.getHours() + '.' + d.getMinutes();
    var weekdays = [
      ['Sunday'],
      ['Monday', 8.0, 17.0],
      ['Tuesday', 8.0, 17.0],
      ['Wednesday', 8.0, 17.0],
      ['Thursday', 8.0, 17.0],
      ['Friday', 8.0, 17.0],
      ['Saturday']
    ];
    var day = weekdays[n];
    var response =
            now > day[1] && now < day[2]
                    ? 'Stay close to your phone...<br> We typically respond <a href="http://e.ggtimer.com/1hour" target="_blank">within an hour</a>!'
                    : 'We typically respond to weekend requests early Monday morning.';
    var responseElement = document.getElementById('response-time');
    responseElement.style.display = 'none';
    responseElement.innerHTML = response;
    setTimeout(function() {
      responseElement.style.display = '';
    }, 1);
  });
</script>
{% endif %}
